# Emacs
**/*~
**/\#*\#

# Executables
test

# Random files
.recon_wfbp.sh

# reader headers and library (can't go to github)
**/definitionasframe.h
**/read_raw_file.h
**/sensation64frame.h
**/read_raw_file.o

# Object files
**/*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
test
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/